<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>

    <title></title>
    <link rel='stylesheet' href='{%static 'css/styles.css'%}'>


    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    

    </head>

<body>
    <h1> all employees Details</h1><hr>
    <ul>
        <li>{{1|upper}}</li>
        <li>{{2|title}}</li>
        <li>{{3|lower}}</li>
        <li>{{4|title}}</li>
        <li>{{5|upper}}</li>
    </ul>    
    


    
    
    

</body>
</html>